
.box {
    background-color: lightblue;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  
  #header {
    background-color: darkgreen;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    padding: 20px;
  }
  
  .sidebar {
    background-color: lightgray;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px;
    margin-top: 20px;
    margin-right: 10px;
    width: 160px;
    float: left;
    bottom: 5 px; 
  }
  
  .content {
    background-color: white;
    color: black;
    font-family: Georgia, serif;
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 190px;
    margin-right: 190px;
  }

  .homebg{
    background-image: url(images/blue background.webp);
    background-position: top left;
    background-size: cover;
}

.title {
    font-size: 25px;
    font-family: Georgia, serif;
    
    }
